.product {
    padding: 1rem 4rem;
}
.product .container {
    display: flex;
}
.product .container .slick-slider {
    width: 155px;
}
.product
    .container
    .slick-slider
    .slick-list
    .slick-track
    .slick-slide
    div
    img {
    width: 140px !important;
}
.slick-slide > div {
    margin: 0 10px;
}
.slick-list {
    margin: 0 -10px;
}
.product .container .slick-slider .slick-next {
    right: 45%;
    top: 101%;
    transform: rotate(90deg);
}
.product .container .slick-slider .slick-prev {
    top: -35px;
    left: 45%;
    transform: rotate(90deg);
}
.product .container .slick-slider .slick-next:before,
.product .container .slick-slider .slick-prev::before {
    color: var(--main-color);
}
.product .container .content {
    display: flex;
}
.product .container .content .image {
    margin-left: 1rem;
}
.product .container .content .image img {
}
.product .container .content .info {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    font-size: 22px;
}

.product .container .content .info .sold {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    align-items: center;
    border-bottom: 1px solid var(--second-color);
}
.product .container .content .info .sold .price {
    display: flex;
    align-items: center;
}
.product .container .content .info .sold .price h4 {
    color: var(--main-color);
    margin-right: 1rem;
}
.product .container .content .info .sold .price p {
    margin-right: 1rem;
    text-decoration: line-through;
    color: #9f9f9f;
    font-size: 18px;
}
.product .container .content .info .sold .price button {
    background-color: var(--main-color);
    color: #fff;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 20px;
}
.product .container .content .info .rating {
    font-size: 22px;
    display: flex;
}
.product .container .content .info .rating .dv-star-rating {
    margin-left: 0.5rem;
}
.product .container .content .info .color {
    display: flex;
    flex-direction: column;
}
.product .container .content .info .color h2 {
    display: flex;
    padding-top: 1rem;
    align-items: center;
    font-weight: normal;
    color: var(--main-color);
    font-size: 30px;
}
.product .container .content .info .color h2 p {
    font-size: 22px;
    margin-left: 1rem;
}
.product .container .content .info .color .items {
    display: flex;
}
.product .container .content .info .color .items p {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
    border-radius: 50%;
    border: 1px solid var(--main-color);
}
.product .container .content .info .size {
    padding-top: 1rem;
    display: flex;
    align-items: center;
}
.product .container .content .info .size label {
    font-size: 30px;
    counter-reset: var(--main-color);
}
.product .container .content .info .size select {
    border: 1px solid var(--main-color);
    margin-left: 1rem;
    width: 200px;
    padding: 0.2rem;
    border-radius: 4px;
    cursor: pointer;
}
.product .container .content .info .size select option {
    font-size: 22px;
}
.product .container .content .info .add {
    display: flex;
    padding-top: 1rem;
    align-items: center;
}
.product .container .content .info .add .button-add button {
    margin-right: 1rem;
    background-color: var(--main-color);
    color: rgba(254, 226, 67, 0.8);
    padding: 0.6rem 3rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 22px;
}
.product .container .content .info .add .inc-love {
    display: flex;
    align-items: center;
}
.product .container .content .info .add .inc-love .inc-dic {
    display: flex;
    margin-right: 1rem;
    align-items: center;
    border: 1px solid var(--main-color);
    padding: 0.5rem 0;
    border-radius: 4px;
    width: 140px;
    justify-content: space-around;
}
.product .container .content .info .add .inc-love .inc-dic .increment {
    border-radius: 50%;
    background-color: var(--main-color);
    color: #fff;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    cursor: pointer;
}
.product .container .content .info .add .inc-love .inc-dic .dicrement {
    border-radius: 50%;
    background-color: var(--main-color);
    color: #fff;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    cursor: pointer;
}
.product .container .content .info .add .inc-love .heart {
    border: 1px solid var(--main-color);
    padding: 0.5rem;
    font-size: 42px;
    border-radius: 4px;
    cursor: pointer;
}
.product .container .content .info .details {
    padding-top: 1rem;
    display: flex;
    align-items: flex-start;
}
.product .container .content .info .details .title {
    font-size: 24px;
    color: var(--main-color);
}
.product .container .content .info .details .text {
    color: var(--main-color);
    margin-left: 0.5rem;
}
@media screen and (max-width: 1150px) {
    .product .container .content .info {
        font-size: 19px;
    }
    .product .container .content .info .sold .price button {
        font-size: 18px;
    }
    .product .container .content .info .color h2,
    .product .container .content .info .size label {
        font-size: 25px;
    }
    .product .container .content .info .color h2 p {
        font-size: 19px;
    }
    .product .container .content .info .add .button-add button {
        padding: 0.6rem 2rem;
    }
    .product .container .content .info .add .inc-love .inc-dic {
        width: 120px;
    }
    .product .container .content .info .color .items p {
        width: 40px;
        height: 40px;
    }
}
@media screen and (max-width: 1100px) {
    .product .container {
        flex-direction: column-reverse;
    }
    .product .container .content .image {
        margin-left: 0rem;
    }
    .product .container .slick-slider {
        width: 70%;
        text-align: center;
        margin: 1rem auto;
    }
    .product .container .slick-slider .slick-next {
        right: -25px;
        top: 50%;
        transform: translate(0, -50%);
    }
    .product .container .slick-slider .slick-prev {
        left: -25px;
        top: 50%;
        transform: translate(0, -50%);
    }
}
@media screen and (max-width: 1100px) {
    .product .container .content .info .sold {
        flex-direction: column;
    }
    .product .container .content .info {
        font-size: 17px;
    }
    .product .container .content .info .sold .price button {
        font-size: 17px;
    }
    .product .container .content .info .color h2,
    .product .container .content .info .size label {
        font-size: 22px;
    }
    .product .container .content .info .color h2 p {
        font-size: 17px;
    }
    .product .container .content .info .add .button-add button {
        padding: 0.6rem 1.5rem;
    }
}
@media screen and (max-width: 900px) {
    .product .container .content {
        flex-direction: column;
    }
    .product .container .content .info .sold {
        align-items: flex-start;
    }
    .product .container .content .image img {
        width: 100%;
    }
    .product .container .content .info {
        margin-left: 0;
        margin-top: 1rem;
    }
    .product .container .content .info .add .button-add button {
        font-size: 20px;
    }
}
@media screen and (max-width: 700px) {
    .product .container .content .info .details {
        flex-direction: column;
    }
    .product .container .content .info .details .text {
        margin-left: 0;
    }
    .product .container .content .info .add .button-add button {
        padding: 0.6rem;
    }
}
@media screen and (max-width: 550px) {
    .product .container .content .info .add {
        flex-direction: column;
        align-items: flex-start;
    }
    .product .container .content .info .add .inc-love {
        margin-top: 1rem;
    }
}
